.vscode

project/YOLO-fine-tune/zeta/training-1/7:2:1
project/YOLO-fine-tune/zeta/training-1/6:2:2(10k)
project/YOLO-fine-tune/zeta/training-1/yolo11n
project/YOLO-fine-tune/zeta/training-1/yolo11s
project/YOLO-fine-tune/zeta/training-1/runs
project/YOLO-fine-tune/zeta/training-1/yolov8n.pt
project/YOLO-fine-tune/zeta/training-1/yolov10n.pt
project/YOLO-fine-tune/zeta/training-1/yolo11n.pt
project/YOLO-fine-tune/zeta/training-1/yolo11s.pt

project/YOLO-fine-tune/zeta/training-2/7:2:1
project/YOLO-fine-tune/zeta/training-2/6:2:2(10k)
project/YOLO-fine-tune/zeta/training-2/yolo11n
project/YOLO-fine-tune/zeta/training-2/yolo11s
project/YOLO-fine-tune/zeta/training-2/runs
project/YOLO-fine-tune/zeta/training-2/yolov8n.pt
project/YOLO-fine-tune/zeta/training-2/yolov10n.pt
project/YOLO-fine-tune/zeta/training-2/yolo11n.pt
project/YOLO-fine-tune/zeta/training-2/yolo11s.pt

project/YOLO-fine-tune/epsilon/training-3/7:2:1
project/YOLO-fine-tune/epsilon/training-3/7:1.5:1.5(15k)
project/YOLO-fine-tune/epsilon/training-3/7:1.5:1.5(18k)
project/YOLO-fine-tune/epsilon/training-3/yolo11n
project/YOLO-fine-tune/epsilon/training-3/yolo11s
project/YOLO-fine-tune/epsilon/training-3/runs
project/YOLO-fine-tune/epsilon/training-3/yolov8n.pt
project/YOLO-fine-tune/epsilon/training-3/yolov10n.pt
project/YOLO-fine-tune/epsilon/training-3/yolo11n.pt
project/YOLO-fine-tune/epsilon/training-3/yolo11s.pt

project/YOLO-fine-tune/epsilon/training-4/7:2:1
project/YOLO-fine-tune/epsilon/training-4/7:1.5:1.5(15k)
project/YOLO-fine-tune/epsilon/training-4/7:1.5:1.5(18k)
project/YOLO-fine-tune/epsilon/training-4/yolo11n
project/YOLO-fine-tune/epsilon/training-4/yolo11s
project/YOLO-fine-tune/epsilon/training-4/runs
project/YOLO-fine-tune/epsilon/training-4/yolov8n.pt
project/YOLO-fine-tune/epsilon/training-4/yolov10n.pt
project/YOLO-fine-tune/epsilon/training-4/yolo11n.pt
project/YOLO-fine-tune/epsilon/training-4/yolo11s.pt

project/YOLO-fine-tune/epsilon/training-5/7:2:1
project/YOLO-fine-tune/epsilon/training-5/7:1.5:1.5(15k)
project/YOLO-fine-tune/epsilon/training-5/runs
project/YOLO-fine-tune/epsilon/training-5/yolov8n.pt
project/YOLO-fine-tune/epsilon/training-5/yolov10n.pt

project/YOLO-fine-tune/epsilon/training-6/7:2:1
project/YOLO-fine-tune/epsilon/training-6/runs
project/YOLO-fine-tune/epsilon/training-6/yolov8n.pt
project/YOLO-fine-tune/epsilon/training-6/yolov10n.pt

project/YOLO-fine-tune/overfitting/runs
project/YOLO-fine-tune/overfitting/yolov8n.pt
project/YOLO-fine-tune/overfitting/yolov10n.pt